<br>
<h1 class="text-secondary text-center">About Us</h1>
<br>

<div class="card-group">
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe debitis consequatur reprehenderit voluptatum temporibus sapiente obcaecati impedit placeat optio nobis fugit nam ipsam, dignissimos beatae a assumenda? Reiciendis, minus perferendis.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum consequuntur ratione incidunt amet optio veritatis, eius quis quaerat id, expedita eligendi voluptas necessitatibus inventore pariatur! Cumque optio vitae voluptatum repudiandae.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam cum, repudiandae sint, provident aut dolore, doloribus laborum unde earum tempore non excepturi. Architecto dicta asperiores, ex soluta nihil eligendi! Error.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore illum ipsum dolore sit animi eaque fugiat sint, quas quos porro dolores molestias, deserunt nobis ad nemo voluptas minima minus? Laudantium?</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>  
  </div>