<br>
<h1 class="text-secondary text-center">Leaderboard</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-3">
      <img src="../../assets/images/trophy.jpeg">
    </div>

    <div class="col-9">
      <div class="container">
        <table class="table">
          <tr class="thead-light">
            <th>Ranking</th>
            <th></th>            
            <th>Name</th>
            <th></th>
            <th>Total Score</th>
            <th>Grade</th>
          </tr>
          <tr *ngFor="let ranking of rankings">
            <td><kbd>{{ ranking.total_rank }}</kbd></td>
            <td><img src="{{ ranking.photoURL }}" width="50px" height="50px"></td>
            <td>{{ ranking.name }}</td>
            <td>{{ ranking.gender }}({{ ranking.age }})</td>
            <td>{{ ranking.total_score | number }}</td>
            <td>{{ ranking.grade }}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>

</div>


