<div class="text-center container">

  <h5>TODO: splash animation</h5>
  <br>
  <div class="row">
    <div id="section_1" class="alert alert-info col">
        <br>
        <h3>In summer of 2018,</h3>
        <h3>with snap of fingers by purple monster,</h3>
        <h3>half of hollywood actors were gone.</h3>
        <br><br>
        <h3>The biggest audition in history</h3>
        <h3>begins at Re:Invent 2018.</h3>
        <br>
      </div>
    </div>
  <!-- <div class="row">
    <div id="section_2" class="alert alert-info col">
      <p>With all sorrows people feels,</p>
      <p>Hollywood started to think they should bring more joy to all the rest of people.</p>
      <p>and decided to make a movie called "The Revengers - Revise of stars".</p>
    </div>        
  </div>
  <div class="row">
    <div id="section_3" class="alert alert-info col">
        <p>Make yourself ready and save the world </p>
        <p>by becoming famous movie star at Re:Invent got talent 2018.</p>
    </div>
  </div> -->

  <br/>
  <div class="text-center">
      <button type="button" class="btn btn-primary btn-lg" (click)="gameStart()">
        <fa name="edit"></fa> Apply Now
      </button>
  </div>  
</div>

