#splash { 
    /* The image used */
    background-image: url("../../../assets/images/splash-thanos-01.jpg");
    /* opacity: 0.8; */
    /* Full height */
    height: 100%;
    margin: 0px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}