<br>
<h1 class="text-secondary text-center">Play demo!</h1>
<br>

<p>
    This is a demonstration page for
    <a href="https://amw.github.io/jpeg_camera/doc/">JpegCamera library</a>.
  </p>

  <div id="camera_info"></div>
  <div id="stream_stats"></div>

  <div id="camera">
    <div class="placeholder">
      Your browser does not support camera access.<br>
      We recommend
      <a href="https://www.google.com/chrome/" target="_blank">Chrome</a>
      &mdash; modern, secure, fast browser from Google.<br>
      It's free.
    </div>
  </div><br>

  <button id="take_snapshots">Take more snapshots</button>
  <button id="show_stream">Show stream</button><br>

  <div id="snapshots"></div>

  <button id="discard_snapshot">Discard snapshot</button>
  <button id="upload_snapshot">Upload to URL</button><br>

  <input type="text" id="api_url" placeholder="https://example.com/upload"><br>

  <img src="loader.gif" id="loader">
  <div id="upload_status"></div>
  <div id="upload_result"></div>