<div class="jumbotron">
    <h1 #gamelogo class="display-4 text-white">Welcome to<br>re:Invent Got Talent!</h1>
    <br>
    <p id="p1" class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 text-white">
    <p id="p2" class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" (click)="animate()">Animate</a>
    </p>
</div>