.jumbotron { 
    /* The image used */
    background-image: url("../../assets/images/stage_spotlights_02.jpg");
    opacity: 0.8;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}